{% extends 'base.html' %}

{% block head %}
<title>GameRanks Home</title>
{% endblock %}

{% block body %}

<div class="container">
    <br><br>
    <h1 class="header center Black-text">GameRanks</h1>
    <div class="row center">
        <h5 class="header col s12 light">Review Submission Portal</h5>
    </div>
    <br><br>
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h4 class="header center white-text">WHAT IS REVIEW SUBMISSION PORTAL?</h4>
            <div class="row center">
                <h5 class="header col s12 light white-text">Welcome to the review submission platform for all editors and Journalists at GameRanks. This is the companies’ online portal to submit any and all reviews for submission to your supervising editors for review prior to publication on our official website for our audiences to consume. When adding a review please, indicate your name, game title, the review itself and the final score (should be an integer scale from 1 to 10, where 1 is poor and 10 is a masterpiece) for said game review. Additionally, you can view all pending reviews for editing from your fellow colleagues. Feel free to edit them if you feel some points were missed but be advised any edits made to the reviews must be legitimate critiques and should not be made to undermine your colleagues work. </h5>
            </div>

            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="https://www.ssk182.com/Project1/background31.jpg" alt="Unsplashed background img 1"></div>
</div>


{% endblock %}
